!!!
%html{:lang => 'ja'}
  %head
    %meta(charaset='UTF-8')
    %title sinatra start
    %link(rel='stylesheet' href='/css/main.css')
  %body
    %h1 Tasks!
    #tasks

    %script(type='text/template' id='task-template')
      <%- title %>
      %span.delete [x]

    %script(type='application/javascript' src='/js/underscore.js')
    %script(type='application/javascript' src='/js/jquery.js')
    %script(type='application/javascript' src='/js/backbone-min.js')
    %script(type='application/javascript' src='/js/main.js')