!!!
%html{:lang => "ja"}
  %head
    %meta(charaset="UTF-8")
    %style(type='text/css' href='/css/main.css' media='screen')
    %script(type='application/javascript' src='/application.js')
  %body
    %p hello!
